# Rust
/target

# C# / .NET / Visual Studio
/examples/**/[Bb]in/
/examples/**/[Ob]j/
/examples/**/.vs/
/examples/**/*.user
/examples/**/*.userosscache
/examples/**/*.sln.docstates
/examples/**/*.suo
/examples/**/*.suo.tmp
/examples/**/*.userprefs

# Vault / Crypto
master.key
credentials.vault